<div class="blade-static __bottom" ng-include="'$(Platform)/Scripts/common/templates/ok-cancel.tpl.html'"></div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <form class="form" name="formScope">
                <fieldset ng-init="setForm(formScope)">
                    <legend>
                        {{ 'customerSegments.blades.customer-segment-property-values.customer-properties' | translate }} <span class="count">{{blade.setProperties.length | number:0}}</span>
                    </legend>
                    <div class="form-group list __info" ng-repeat="property in blade.setProperties | orderBy: 'displayOrder'">
                        <label class="form-label" for="">
                            {{property.name}}
                        </label>
                        <va-generic-value-input ng-model="property" languages="languages" get-dictionary-values="getDictionaryValues" ng-if="!property.templateUrl"></va-generic-value-input>
                        <ng-include src='property.templateUrl' ng-if="property.templateUrl"></ng-include>
                        <div class="list-descr">{{property.description}}</div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<script type="text/ng-template" id="organizationSelector.html">
    <va-member-selector multiple ng-model="property.values" member-types="['Organization']"
                        placeholder="'customer.blades.contact-detail.placeholders.organizations'"></va-member-selector>
</script>
